<div class="container" ng-controller="AdminEditCtrl">

    <h1>Admin <small>Add / Update Location Information</small></h1>
    <a href="#/admin"><span class="glyphicon glyphicon-chevron-left"></span>Back to Admin Home</a>
   <p>&nbsp;</p>
    <div class="panel panel-default">
        <div class="panel-body">


    <form class="form-inline">
        <div class="form-group">
            <strong>New Location:</strong>
            <div class="btn-group btn-group-sm" role="group" aria-label="...">

                <button type="button" class="btn btn-default">Yes</button>
                <button type="button" class="btn btn-primary">No</button>
            </div>


        </div>
        <div class="form-group">
            <label for="locationsList">&nbsp;&nbsp;&nbsp;Location: </label>
            <select
                    class="form-control"
                    id="locationsList"
                    ng-model="selectCampsite"
                    ng-change="loadCampsiteToEdit(selectCampsite)"
             >

                <optgroup label="Locally Stored Locations">
                    <option>Hood Medows, ?, OR </option>
                    <option>5</option>
                </optgroup>
                <optgroup label="Remotley Stored Locations">
                    <option ng-repeat="camp in campsites" value="{{camp.id}}">({{camp.id}}) {{camp.title}}</option>
                </optgroup>
            </select>
        </div>
        <button type="submit" class="btn btn-default">Open</button>
    </form>
        </div>
    </div>
    <div id="CampsiteFullFormModel" ng-show="campsite.id > 0">
    <h2>Read Only Information</h2>
    <hr/>
    <form>
        <div class="alert alert-default">
            <div class="row ">
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Database ID</label>
                        <input type="text" class="form-control" ng-model="campsite.id" disabled>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="urlName">Database Create Time Stamp</label>
                        <input type="text" class="form-control" placeholder="" ng-model="campsite.createts" disabled>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="terrian">Database Last Modified Time Stamp</label>
                        <input type="text" class="form-control" placeholder="" ng-model="campsite.lastmodified" disabled>
                    </div>
                </div>
            </div>
        </div>
    </form>

        <h2>Basic Information</h2>
    <hr/>
    <form>
        <div class="alert alert-success">
            <div class="row ">
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Campsite Title</label>
                        <input type="text" class="form-control" ng-model="campsite.title">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="urlName">Campsite URL Name</label>
                        <input type="text" class="form-control" id="urlName" placeholder="URL Name (NO SPACES)" ng-model="campsite.urlName">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="terrian">Terrian</label>
                        <input type="text" class="form-control" id="terrian" placeholder="Enter email" ng-model="campsite.terrian">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="campType">Campsite Type</label>
                        <input type="text" class="form-control" id="campType" placeholder="e.g. Forest, Alpine, Beach" ng-model="campsite.type">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="cost">Cost</label>
                        <input type="text" class="form-control" id="cost" placeholder="0.00" ng-model="campsite.cost">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="season">Season</label>
                        <input type="text" class="form-control" id="season" placeholder="Sprint, Summer" ng-model="campsite.season">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="maxStay">Max Stay</label>
                        <input type="text" class="form-control" id="maxStay" placeholder="Enter email" ng-model="campsite.maxStay">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="maxRigLength">Max Rig Length</label>
                        <input type="text" class="form-control" id="maxRigLength" placeholder="In Days" ng-model="campsite.maxRigLength">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="maxRigLengthComments">Max Rig Comments</label>
                        <input type="text" class="form-control" id="maxRigLengthComments" placeholder="Hard turns?" ng-model="campsite.maxRigComments">
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Popularity</label>
                        <br/>
                        <select class="form-control" ng-model="campsite.popularity">
                            <option>High</option>
                            <option>Medium</option>
                            <option>Low</option>
                            <option>Unknown</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="ownership">Ownership</label>
                        <input type="text" class="form-control" id="ownership" placeholder="BLM?" ng-model="campsite.ownership">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="ownershipWebsite">Owner Website</label>
                        <input type="text" class="form-control" id="ownershipWebsite" placeholder="http://" ng-model="campsite.ownershipWebsite">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="shortDescription">Campsite Short Description</label>
                <input type="text" class="form-control" id="shortDescription" placeholder="" ng-model="campsite.shortDesc">
            </div>
        </div>
        <h2>Location &amp; Distance</h2>
        <hr/>
        <div class="alert alert-info">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Lat</label>
                        <input type="text" class="form-control" ng-model="campsite.lat">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Lon</label>
                        <input type="text" class="form-control" ng-model="campsite.lon">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Elevation</label>
                        <input type="text" class="form-control"  ng-model="campsite.elevation"/>
                    </div>
                </div>
            </div>

            <!----- CLOSEST Town ----->
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Closest Town Name</label>
                        <input type="text" class="form-control" ng-model="campsite.closestTownName"/>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="form-group">
                        <label>Closest Town Lat</label>
                        <input type="text" class="form-control" ng-model="campsite.closestTownLat"/>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label>Closest Town Lon</label>
                        <input type="text" class="form-control" ng-model="campsite.closestTownLon"/>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label>Distance</label>
                        <input type="text" class="form-control" ng-model="campsite.closestTownDistance"/>
                    </div>
                </div>
            </div>

            <!----- CLOSEST PAVED ROAD ----->
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Closest Paved Road Name</label>
                        <input type="text" class="form-control" ng-model="campsite.pavedRoadName">
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="form-group">
                        <label>Closest Paved Lat</label>
                        <input type="text" class="form-control"  ng-model="campsite.pavedRoadLat"/>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label>Closest Paved Lon</label>
                        <input type="text" class="form-control"  ng-model="campsite.pavedRoadLon"/>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label>Distance</label>
                        <input type="text" class="form-control"  ng-model="campsite.pavedRoadDistance"/>
                    </div>
                </div>
            </div>



            <!----- CLOSEST PROPANE ----->
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Closest Propane Name</label>
                        <input type="text" class="form-control" ng-model="campsite.closestPropaneName"/>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="form-group">
                        <label>Closest Propane Lat</label>
                        <input type="text" class="form-control"  ng-model="campsite.closestPropaneLat"/>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label>Closest Propane Lon</label>
                        <input type="text" class="form-control"  ng-model="campsite.closestPropaneLon"/>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label>Distance</label>
                        <input type="text" class="form-control"  ng-model="campsite.closestPropaneDistance"/>
                    </div>
                </div>
            </div>

            <!----- CLOSEST PROPANE ----->
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Closest Gas Name</label>
                        <input type="text" class="form-control" ng-model="campsite.closestGasName">
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="form-group">
                        <label>Closest Gas Lat</label>
                        <input type="text" class="form-control" ng-model="campsite.closestGasLat">
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label>Closest Gas Lon</label>
                        <input type="text" class="form-control"  ng-model="campsite.closestGasLon">
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label>Distance</label>
                        <input type="text" class="form-control"  ng-model="campsite.closestGasDistance">
                    </div>
                </div>
            </div>

            <!----- CLOSEST DUMP Station ----->
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Closest Dump Station Name</label>
                        <input type="text" class="form-control" ng-model="campsite.closestDumpStationName">
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="form-group">
                        <label>Closest Dump Lat</label>
                        <input type="text" class="form-control"  ng-model="campsite.closestDumpStationLat">
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label>Closest Dump Lon</label>
                        <input type="text" class="form-control"  ng-model="campsite.closestDumpStationLon">
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label>Distance</label>
                        <input type="text" class="form-control"  ng-model="campsite.closestDumpStationDistance">
                    </div>
                </div>
            </div>
        </div>


        <h2>Ammenities</h2>
        <hr/>
        <div class="alert alert-success">
            <div class="row">
                <div class="col-md-2">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"> Fire Pits
                        </label>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"> Dumpster
                        </label>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"> Recycle
                        </label>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"> Potable Water
                        </label>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"> Dump Station
                        </label>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"> Picnic Benches
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <h2>Cell Phone Coverage</h2>
        <hr/>
        <div class="alert alert-info">

            <div class="row">
                <div class="col-md-2">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"> AT&amp;T Coverage
                        </label>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="attCoverageType">Coverage Type</label>
                        <br/>
                        <select id="attCoverageType" class="form-control">
                            <option>Voice Only</option>
                            <option>2G</option>
                            <option>3G</option>
                            <option>4G LTE</option>
                            <option>Unknown</option>
                        </select>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Coverage Strength</label>
                        <input type="text" class="form-control">
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Coverage Comments</label>
                        <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-2">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"> Verizon Coverage
                        </label>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label>Coverage Type</label>
                        <br/>
                        <select class="form-control">
                            <option>Voice Only</option>
                            <option>2G</option>
                            <option>3G</option>
                            <option>4G LTE</option>
                            <option>Unknown</option>
                        </select>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Coverage Strength</label>
                        <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Coverage Comments</label>
                        <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"> Sprint Coverage
                        </label>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label>Coverage Type</label>
                        <br/>
                        <select class="form-control">
                            <option>Voice Only</option>
                            <option>2G</option>
                            <option>3G</option>
                            <option>4G LTE</option>
                            <option>Unknown</option>
                        </select>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Coverage Strength</label>
                        <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Coverage Comments</label>
                        <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
                    </div>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-success">Add / Update Location</button>
        <button type="button" class="btn btn-danger">Delete Local Copy</button>

    </form>
    </div>
</div>