

<div class="container" ng-controller="CampsiteCtrl">
    <div ng-if="campsite.error == 'Not Found'">
        <h1>Campsite Not Found <small>Typo? Try our <a href="/app/#/search">Search</a> feature.</small></h1>
    </div>

    <div ng-show="campsite.error != 'Not Found'">

    <h1><div class="btn-group" role="group" aria-label="...">
        <button type="button" class="btn" ng:class="{true:'btn-success', false:'btn-default'}[defaultMode]" ng-click="defaultMode=true; mobileMode=false;"><span class="glyphicon glyphicon-picture"></span> </button>
        <button type="button" class="btn"  ng:class="{true:'btn-success', false:'btn-default'}[mobileMode]" ng-click="defaultMode=false; mobileMode=true;"><span class="glyphicon glyphicon-phone"></span></button>
    </div>&nbsp;&nbsp;{{campsite.title}} <small style="font-size:50%;"><i>Last Updated: {{campsite.update_ts||"Unknown"}}</i></small></h1>

    <div boondockr-bread-crumb campsite="{{campsite}}"></div>

    <div class="well">
        {{campsite.shortdesc}}
    </div>

    <div boondockr-images campsite="{{campsite}}" ng-show="defaultMode"></div>

    <p>&nbsp;</p>
    <h2>Site Description</h2>
    {{campsite.longdesc}}
    <p>&nbsp;</p>
    <p>&nbsp;</p>

    <h2>Detailed Information</h2>
    <div boondockr-navagation campsite="{{campsite}}"></div>
    <p>&nbsp;</p>

    <div boondockr-camp-information campsite="{{campsite}}"></div>
    <p>&nbsp;</p>

    <div boondockr-rules campsite="{{campsite}}"></div>
    <p>&nbsp;</p>

    <div boondockr-cell-coverage campsite="{{campsite}}"></div>
    <p>&nbsp;</p>

    <div boondockr-tags campsite="{{campsite}}"></div>
    <p>&nbsp;</p>
        </div>
</div>