<div class="container"  ng-controller="BrowseCtrl">
    <h1 class="title">Browse campsite</h1>
    <p class="lead">You can browse the reviewed campsites by drilling down on Regon, State & County. If you'd like more control, try out the <a href="#/search">Search</a> page.</p>
    <p>&nbsp;</p>
        <div id="map2" style="width: 100%; height: 600px; margin-right:auto; margin-left:auto;"></div>



    <ol class="breadcrumb">
        <li>Region:
            <select
                    ng-model="regionSelected"
                    ng-change="refreshStatesList(regionList[regionSelected-1])"
                    ng-options="region.id as region.name for region in regionList">
            </select>
        </li>
        <li>State:
            <select

                ng-model="stateSelected"
                ng-change="updateCountyList(stateSelected)">
                    <option ng-repeat="state in stateList|filter:filterStatesByRegion" value="{{state.code}}">{{state.name}}</option>
        </select>
        </li>
        <li>County:
            <select
                ng-model="countySelected"
                ng-options="county.county for county in counties"
                ng-change="updateCampsiteList(regionList[regionSelected-1].name, stateSelected, countySelected )"
            >
            </select></li>
    </ol>
    <!-- Results -->
    <p>&nbsp;</p>
    <div campsite-list campsites-results="{{campsites}}"></div>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Site Name</th>
            <th>State</th>
            <th>Terrian</th>
            <th>Cost</th>
            <th>Ownership</th>
            <th>Campsite Type</th>
            <th>Max Stay</th>
            <th>Cellphone Coverage</th>
            <th>Distance from paved road</th>
            <th>Pics</th>
        </tr>
        </thead>
        <tr ng-repeat="campsite in campsites">
            <td><a ng-href="/app/#/campsite/{{campsite.urlName}}">{{campsite.title}}</a></td>
            <td>{{campsite.state}}</td>
            <td>{{campsite.terrian}}</td>
            <td>{{campsite.cost}}</td>
            <td>{{campsite.ownership}}</td>
            <td>{{campsite.campsiteType}}</td>
            <td>{{campsite.maxStay}}</td>
            <td>None.</td>
            <td>{{campsite.pavedRoadDistance}}</td>
            <td>...</td>
        </tr>
    </table>


</div>